/* Loasing self hosted fonts with font face */
/* Fira sans regular */ 
@font-face {
  font-family: 'Fira Sans';
  src: url('./firaSans/firasans-regular-webfont.woff2') format('woff2'),
       url('./firaSans/firasans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Fira Sans';
  src: url('./firaSans/firasans-italic-webfont.woff2') format('woff2'),
       url('./firaSans/firasans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}
/* Fira Sans light */
@font-face {
  font-family: 'Fira Sans';
  src: url('./firaSans/firasans-thin-webfont.woff2') format('woff2'),
       url('./firaSans/firasans-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;

}

@font-face {
  font-family: 'Fira Sans';
  src: url('./firaSans/firasans-thinitalic-webfont.woff2') format('woff2'),
       url('./firaSans/firasans-thinitalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;

}

@font-face {
  font-family: 'Fira Sans';
  src: url('./firaSans/firasans-extralight-webfont.woff2') format('woff2'),
       url('./firaSans/firasans-extralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}

@font-face {
  font-family: 'Fira Sans';
  src: url('./firaSans/firasans-extralightitalic-webfont.woff2') format('woff2'),
       url('./firaSans/firasans-extralightitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;

} 
/* Fira Sans bold */

@font-face {
  font-family: 'Fira Sans';
  src: url('./firaSans/firasans-bold-webfont.woff2') format('woff2'),
       url('./firaSans/firasans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'Fira Sans';
  src: url('./firaSans/firasans-bolditalic-webfont.woff2') format('woff2'),
       url('./firaSans/firasans-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;

}


/* Working with variable fonts */
@font-face {
  font-family:'Raleway';
  src: url('./raleway/Raleway-VariableFont.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Raleway';
  src: url('./raleway/Raleway-Italic-VariableFont.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
}

body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
    font-family:  "Raleway", "Fira Sans", "Roboto", "open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
  }
  
  .content-width {
    max-width: 70ch;
    width: calc(100% - 4rem);
    margin: 0 auto;
  }
  
  main {
    margin-bottom: 4rem;
  }
  
  header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: hsl(280, 50%, 40%);
    border-bottom: 4px solid hsl(300, 50%, 50%);
    color: hsl(300, 50%, 90%);
  }
  
  header p {
    color: hsl(300, 50%, 85%);
  }
  
  h1, h2, h3 {
    margin: 0;
    line-height: 1.25;
  }
  
  h2, h3 {
    color: hsl(280, 50%, 40%)
  }


h1 {
    font-size: 3rem;
    font-weight: 260;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 100;
  }
  
  h3 {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 200;
  }
  
  p {
    font-size: 1.125rem;
  }